<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul>
        {% for info in cluster_info %}
        <li>{{info}}</li>
        {% endfor %}
    </ul> 
    <br>
    <p>{{text2}}</p>
    <br>
    <div class="row">
        <div class="col-12 m-10 p-10" style="overflow-x: auto;">
            <h1>Tabla de Datos del Head</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- Aquí se definen las columnas de la tabla -->
                {% for column in tab3.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se recorren las filas de los datos -->
            {% for index, row in tab3.iterrows %}
                <tr>
                    <!-- Aquí se recorren las celdas de cada fila -->
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>

    <br />
    <ul>
        {% for info in cluster_info %}
        <li>{{info}}</li>
        {% endfor %}
    </ul> 
   <p>Purity Score: {{ps}}</p>
    <p>Shiloutte: {{s}}</p>
    <p>Calinski harabasz: {{ch}}</p>
</body>
</html>